
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487667129026'); /* IE9*/
  src: url('iconfont.eot?t=1487667129026#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487667129026') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487667129026') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487667129026#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
  font-family:"iconfont" !important;
  font-size:12px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-locationfill:before { content: "\e650"; }

.icon-cart:before { content: "\e698"; }

.icon-cuowu:before { content: "\e641"; }

.icon-sousuo:before { content: "\e651"; }

.icon-xiangxiajiantou:before { content: "\e65e"; }

.icon-xiangyoujiantou:before { content: "\e65f"; }

.icon-xiangzuojiantou:before { content: "\e660"; }

