body{
	background-color: #f6f6f6;
}
body a:hover{
	text-decoration: none
}
#shortcut{
	height: 30px;
	background-color: #E3E4E5;
	border-bottom: 1px solid #DDDDDD;
	color: #999;
}
#shortcut a {
    color: #999;
}
#shortcut .w {
    height: 30px;
    line-height: 30px;
    color: #999;
}
.header{
	height: 140px;
}
.w{
	width: 1190px;
	margin: auto;
}
.fl{
	float: left;
}
#shortcut li {
    float: left;
    list-style: none;
}
#ttbar-mycity {
    margin-left: 200px;
}
#ttbar-mycity .iconfont {
    font-size: 14px;
    color: #f10215;
}
.hover {
    z-index: 22;
}
.dorpdown {
    position: relative;
    z-index: 21;
}
#shortcut .cw-icon {
    height: 28px;
    line-height: 28px;
}
#shortcut .dt {
    padding-left: 7px;
    padding-right: 7px;
}
.dorpdown:hover .cw-icon, .hover .cw-icon {
    padding-bottom: 2px;
    border-color: #ccc;
    border-bottom: none;
    background-color: #fff;
}
.cw-icon {
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}
.ci-left, .ci-right, .dd-spacer {
    display: none!important;
}
#ttbar-mycity .dd {
    left: 0;
    width: 300px;
    padding: 10px;
}
#shortcut .dorpdown-layer {
    top: 30px;
}
#shortcut .dd {
    line-height: 24px;
}
.dorpdown:hover .dorpdown-layer, .hover .dorpdown-layer {
    display: block;
}
.dorpdown-layer {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
}
#ttbar-mycity .item {
    float: left;
    width: 60px;
    padding: 2px 0;
}
#ttbar-mycity .item a {
    float: left;
    padding: 0 8px;
}
#ttbar-mycity .item a:hover {
    background-color: #f4f4f4;
}
#ttbar-mycity .item a.selected {
    background-color: #f10215;
    color: #fff;
}
.fr{
	float: right;
}
#ttbar-login {
    margin-right: 8px;
    z-index: 20;
}
#shortcut .style-red {
    color: #f10215;
}
#shortcut li.spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.fr .cw-icon {
    padding-right: 20px!important;
}
.fr .iconfont {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
}
.dorpdown:hover .dorpdown-layer, .hover .dorpdown-layer {
    display: block;
}
#ttbar-myjd .dorpdown-layer {
    left: 0;
    width: 280px;
}
#ttbar-myjd .dd-spacer {
    left: 0;
    width: 82px;
}
#ttbar-myjd .myjdlist {
    padding: 10px 0 10px 15px;
    overflow: hidden;
}
#ttbar-myjd .myjdlist .fore1, #ttbar-myjd .myjdlist .fore2 {
    float: left;
    width: 126px;
}
#ttbar-myjd .myjdlist_2 {
    border-top: 1px solid #f1f1f1;
}
#ttbar-myjd .myjdlist {
    padding: 10px 0 10px 15px;
    overflow: hidden;
}
#ttbar-myjd .viewlist {
    width: 250px;
    padding: 0 15px 10px;
    border-top: 1px dotted #ccc;
    padding-top: 10px;
}
#ttbar-myjd .viewlist .smt {
    zoom: 1;
}
#ttbar-myjd .viewlist .smt h4 {
    float: left;
}
#ttbar-serv .item {
    display: inline-block;
    width: 70px;
    padding-left: 13px;
}
#ttbar-serv .item-business, #ttbar-serv .item-client {
    padding-left: 15px;
    font-weight: 700;
    color: #666;
}
#ttbar-serv .dd {
    right: 0;
    width: 170px;
    padding: 10px 0;
}
#ttbar-serv .item-business {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #eee;
}
.o2_mini #ttbar-navs dl {
    width: 200px;
}
.o2_mini #ttbar-navs .dd {
    width: 988px;
}
#ttbar-navs .dd {
    right: -84px;
    width: 1188px;
    padding: 15px 0;
}
.o2_mini #ttbar-navs dl.fore1 {
    width: 300px;
}
#ttbar-navs dl.fore1 {
    border-left: none;
    width: 340px;
}
#ttbar-navs dl {
    float: left;
    width: 255px;
    padding-left: 20px;
    border-left: 1px solid #eee;
}
#ttbar-navs dt {
    margin-bottom: 5px;
    font-weight: 700;
    color: #666;
}
.o2_mini #ttbar-navs .item {
    width: 100px;
}
#ttbar-navs .item {
    overflow: hidden;
    float: left;
    width: 85px;
    white-space: nowrap;
}
.mobile{
	position: relative;
}
.mobile_txt {
    width: 60px;
    text-align: center;
}
.mobile_static {
    position: absolute;
    left: 3px;
    width: 66px;
    height: 66px;
    border: 1px solid #cfcfcf;
    z-index: 12;
}
.mobile_static:hover .mobile_static_qrcode{
	width: 190px;
	height: 320px;
	position: absolute;
	right: 0;
	top: -5px;
	background: url(../img/14.jpg) 0 0 no-repeat;
}
.mobile_static_qrcode {
	display: block;
    margin: 4px auto;
    width: 60px;
    height: 60px;
    background: #f6f6f6 url(../img/2.jpg) 50% no-repeat;
}
.header .w {
    position: relative;
    z-index: 11;
    height: 140px;
}
.logo{
	width: 190px;
	height: 170px;
	background: #fff url(../img/logo.v2.png) 0 0 no-repeat;
	position: absolute;
	top: -31px;
	z-index: 2;
	box-shadow: 0 -12px 10px rgba(0,0,0,.2);
}
.search-m {
	position: relative;
	height: 60px;
    z-index: 1;
}
.search-m .form {
    position: absolute;
    left: 320px;
    top: 25px;
    width: 550px;
    height: 35px;
}
.search-fix {
    -webkit-animation: searchTop .5s ease-in-out;
    animation: searchTop .5s ease-in-out;
}
@keyframes searchTop
{
from {top:-48px;}
to {top:0px;}
}

@-webkit-keyframes searchTop 
{
from {top:-48px;}
to {top:0px;}
}
.search-fix {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #f10214;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.search-fix .search-m {
    margin: auto;
    width: 1190px;
    height: 48px;
}
.search-fix .search-m .search_logo {
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    width: 125px;
    height: 40px;
}
.search-m .search_logo {
    display: none;
}
.search-fix .search-m .search_logo_lk {
    overflow: hidden;
    display: block;
    width: 125px;
    height: 40px;
    background-image: url(../img/logo_s.v2.png);
    background-repeat: no-repeat;
    text-indent: -999px;
}
.search-fix .search-m .form {
    top: 6px;
}
.form .text{
	float: left;
    padding: 4px;
    width: 490px;
    height: 25px;
    border: 1px solid #f10215;
    line-height: 25px;
    font-size: 14px;
    color: #989898;
}
.form button{
	right: 0;
    width: 50px;
    height: 35px;
    border: none;
    background-color: #f10215;
}
.form .iconfont{
	font-size: 20px;
    color: #fff;
    font-weight: 700;
    line-height: 35px;
}
#shelper {
	display: none;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 34px;
    width: 398px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.2);
}
#shelper li{
	overflow: hidden;
	padding: 1px 6px;
	line-height: 24px;
	cursor: pointer;
}
#shelper li:hover{
	background: #f5f5f5;
}
.settleup {
    position: absolute;
    right: 99px;
    top: 25px;
}
.settleup .cw-icon {
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
}
.settleup .iconfont{
	font-size: 16px;
	color: #f10215;
	font-weight: bold;
}
.settleup a{
	color: #f10214;
}
.settleup .ci-count {
    position: absolute;
    top: 5px;
    left: 140px;
    right: auto;
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #f10215;
    border-radius: 9px;
    min-width: 12px;
    text-align: center;
}
.settleup .dorpdown-layer {
    top: 35px;
    right: 0;
    width: 308px;
}
.settleup:hover{
    padding-bottom: 2px;
    border-color: #ccc;
    border-bottom: none;
    background-color: #fff;
}
.settleup .prompt {
    padding: 10px 15px;
}
.settleup .nogoods b {
    float: left;
    width: 56px;
    height: 49px;
    background-image: url(../img/36.png);
}
.settleup .nogoods {
    padding-left: 30px;
    height: 49px;
    line-height: 49px;
    overflow: hidden;
    color: #999;
}
.hotwords {
    overflow: hidden;
    position: absolute;
    left: 320px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
}
.hotwords a {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
    color: #999;
}
.navitems {
    overflow: hidden;
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 790px;
    height: 40px;
}
.navitems .spacer, .navitems li, .navitems ul {
    float: left;
}
.navitems li {
    margin-left: 30px;
}
.navitems a {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}
.navitems .spacer {
    overflow: hidden;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: -10px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.fs, .fs_inner {
    position: relative;
}
.fs {
    z-index: 9;
    margin-bottom: 10px;
}
.fs_inner{
	margin: auto;
	width: 1190px;
	height: 480px;
	/*overflow: hidden;*/
}
.fs_col1,.fs_col2{
	height: 100%;
	float: left;
}
.fs_col1{
	width: 190px;
	margin-right: 10px;
}
.cate {
    position: relative;
    z-index: 2;
}
.cate_menu {
    overflow: hidden;
    padding: 15px 0;
    height: 450px;
    background-color: #6e6568;
    color: #fff;
}
.cate_menu_item {
    overflow: hidden;
    padding-left: 12px;
    height: 30px;
    line-height: 30px;
    font-size: 0;
}
.cate_menu_item_on{
	background-color: #999395;
}
.cate_menu_line{
	font-size: 12px;
}
.cate_menu_lk {
    font-size: 14px;
    color: #fff;
}
.cate_pop {
    position: absolute;
    left: 190px;
    top: 0;
    width: 998px;
    min-height: 478px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    box-shadow: 2px 0 5px rgba(0,0,0,.3);
    -webkit-transition: top .25s ease;
    transition: top .25s ease;
}
.cate_part {
    display: none;
    padding: 20px 0 10px;
}
.cate_part_col1 {
    float: left;
    width: 800px;
}
.cate_channel {
    overflow: hidden;
    padding-left: 20px;
    height: 24px;
}
.cate_channel_lk {
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #6e6568;
    line-height: 24px;
    color: #fff;
}
.cate_channel_arrow {
    margin-left: 5px;
}
.cate_detail {
    overflow: hidden;
    padding: 10px 0 0 20px;
}
.cate_detail_item {
    position: relative;
    padding-left: 80px;
}
.cate_detail_tit {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 9px;
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cate_detail_tit_arrow {
    margin-left: 5px;
}
.cate_detail_item1 .cate_detail_con {
    border-top: none;
}
.cate_detail_con {
    overflow: hidden;
    padding: 6px 0;
    border-top: 1px solid #eee;
}
.cate_detail_con_lk {
    float: left;
    margin: 4px 0;
    padding: 0 10px;
    height: 16px;
    border-left: 1px solid #e0e0e0;
    line-height: 16px;
    white-space: nowrap;
}
.fs_col2{
	width: 790px;
}
.fs_col3{
	height: 100%;
	width: 190px;
	float: right;
}
.slider_main {
    position: relative;
    margin-bottom: 10px;
    height: 340px;
}
.slider_item, .slider_item_lk, .slider_list {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}
.slider_item_img {
    display: block;
    width: 100%;
    height: 100%;
}
.slider_indicator {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 20px;
    font-size: 0;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: hsla(0,0%,100%,.3);
    display: none;
}
.slider_indicator_btn {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #fff;
}
.slider_indicator_btn_active{
	background-color: #db192a;
}
.slider_control_prev {
    left: 0;
}
.slider_control_next {
    right: 0;
}
.slider_control_item {
    display: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -30px;
    width: 30px;
    height: 60px;
    background-color: #333;
    background-color: rgba(0,0,0,.1);
    line-height: 60px;
    text-align: center;
}
.slider_control_item i {
    font-size: 20px;
    color: #fff;
}
.slider_extend{
	margin-left: -10px;
	height: 130px;
}

.slider_bi {
    overflow: hidden;
    float: left;
    margin-left: 10px;
    width: 390px;
    height: 130px;
}
.slider_bi_lk {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}
.slider_bi_img {
    display: block;
    width: 390px;
    height: 130px;
}
.fs_col3 {
    float: right;
    margin-left: 10px;
    width: 190px;
    height: 100%;
    background-color: #fff;
}
.user {
    padding: 0 10px;
    height: 115px;
    border-bottom: 1px solid #e6e6e6;
}
.user_info {
    overflow: hidden;
    position: relative;
    padding: 15px 0 15px 60px;
    height: 45px;
}
.user_info_avatar {
    overflow: hidden;
    position: absolute;
    margin-left: -60px;
    width: 45px;
    height: 45px;
}
.user_info_avatar img {
    display: block;
    height: 100%;
    border-radius: 23px;
}
.user_info_show p {
    overflow: hidden;
    margin-top: 2px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.user_info_show a {
    margin-right: 5px;
    color: #000;
}
.user_profit {
    overflow: hidden;
    height: 24px;
    font-size: 0;
}
.user_profit a {
    display: inline-block;
    margin-right: 10px;
    width: 70px;
    height: 20px;
    border: 2px solid #e01222;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color: #e01222;
}
.user_profit a:hover{
	color: #fff;
	background-color: #e01222;
}
.news {
    overflow: hidden;
    padding: 0 15px;
    height: 154px;
}
.news .mod_tab_head {
    padding: 8px 0 4px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    line-height: 14px;
}
.news .mod_tab_head_item {
    color: #333;
    padding-right: 12px;
    padding-left: 12px;
    border-right: 1px solid #dfe0e1;
}
.news_tab_active {
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 28px;
    height: 2px;
    background: #db192b;
}
.news .news_first {
    padding-left: 0;
}
.news .news_last {
    padding-right: 0;
    border-right: 0;
}
.news_more {
    position: absolute;
    right: 0;
    top: 8px;
}
.news .mod_tab_content {
    padding: 12px 0;
}
.news .mod_tab_content_item_on {
    display: block;
}
.news .mod_tab_content_item {
    display: none;
}
.news_item {
    line-height: 24px;
    max-width: 160px;
    white-space: nowrap;
    /*text-overflow: ellipsis;*/
    overflow: hidden;
}
.service {
    overflow: hidden;
    position: relative;
    height: 210px;
}
.service_entry {
    overflow: hidden;
    width: 190px;
}
.service_list {
    margin-left: -1px;
    width: 192px;
    height: 210px;
    overflow: hidden;
}
.service_item {
    position: relative;
    overflow: hidden;
    float: left;
    width: 47px;
    height: 69px;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    text-align: center;
}
.service_lk {
    padding-top: 14px;
    height: 55px;
}
.service_ico, .service_lk, .service_txt {
    display: block;
}
.service_ico {
    margin: 0 auto;
}
.service_corner {
    position: absolute;
    right: 0;
    top: 0;
    width: 13px;
    height: 16px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background: #e01121;
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.service_corner_txt {
    vertical-align: top;
}
.service_ico_huafei, .service_ico_jipiao {
    background-image: url(../img/14.png);
    background-size: 156px 148px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.service_txt {
    height: 22px;
    line-height: 22px;
    border-top: 2px solid #fff;
    position: relative;
    background-color: #fff;
}
.service_ico, .service_lk, .service_txt {
    display: block;
}
.service_ico_huafei {
    background-position: 0 -88px;
}
.service_ico_jipiao {
    background-position: 0 -44px;
}
.service_ico_huoche, .service_ico_jiudian {
    background-image: url(../img/14.png);
    background-size: 156px 148px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.service_ico_jiudian {
    background-position: -44px -88px;
}
.service_ico_youxi {
    background-position: -88px 0;
}
.service_ico_dianying, .service_ico_youxi {
    background-image: url(../img/14.png);
    background-size: 156px 148px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.service_ico_jiayou, .service_ico_qyg {
    background-image: url(../img/14.png);
    background-size: 156px 148px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.service_ico_qyg {
    background-position: -88px -44px;
}
.service_ico_jiayou {
    background-position: 0 0;
}
.service_ico_dianying {
    background-position: -44px -44px;
}
.service_ico_huoche {
    background-position: -88px -88px;
}
.service_ico_licai, .service_ico_zhongchou {
    background-image: url(../img/14.png);
    background-size: 156px 148px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.service_ico_zhongchou {
    background-position: -132px 0;
}
.service_ico_licai {
    background-position: -132px -44px;
}
.service_ico_baitiao, .service_ico_lipin {
    background-image: url(../img/14.png);
    background-size: 156px 148px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.service_ico_lipin {
    background-position: -132px -88px;
}
.service_ico_baitiao {
    background-position: -44px 0;
}
.service_pop {
    position: absolute;
    left: 0;
    top: 210px;
    width: 190px;
    height: 185px;
    background-color: #fff;
}
.service_pop_item {
    height: 185px;
}
.service_expand .service_frame_on .service_txt:hover {
    color: #e01121;
    border-top-color: #e01121;
}
.service_pop_close {
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
}
.service_pop_close:hover {
    background-color: #ddd;
}
a:hover {
    color: #c81623;
}
.fbt, .sk {
    margin-bottom: 30px;
}
.sk {
    height: 305px;
}
.sk_inner {
    overflow: hidden;
}
.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}
.sk .box_hd {
    background: url(../img/15.png) no-repeat 0 0;
}
.box_hd {
    position: relative;
    padding: 0 20px 0 30px;
    height: 55px;
    line-height: 55px;
    color: #fff;
}
.clearfix {
}
.box_hd_col1 {
    float: left;
}
.sk .box_hd_dec {
    background-image: url(../img/16.png);
    background-position: -190px -48px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
}
.box_hd_dec {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 28px;
    height: 28px;
}
.sk .box_hd_icon {
    margin-top: 8px;
    margin-right: 8px;
    background-image: url(../img/16.png);
    background-position: 0 -40px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 34px;
    height: 40px;
}
.box_hd_icon, .box_promo, .box_tit {
    float: left;
}
.box_tit {
    font-family: fzzhengheis-el-gbregular;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    padding-top: 9px;
}
.sk .box_subtit {
    float: left;
    margin-left: 12px;
}
.box_subtit {
    position: relative;
    float: right;
    margin-top: 19px;
    padding-right: 20px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}
.box_subtit_arrow, .coupon_entry_btn_ico {
    background-image: url(../img/16.png);
    background-position: -154px -40px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 15px;
    height: 16px;
}
.box_subtit_arrow {
    position: absolute;
    right: 0;
    top: 4px;
}
.box_hd_col2 {
    float: right;
}
.sk_cd {
    float: left;
}
.sk_cd_tip {
    float: left;
    line-height: 45px;
    padding-top: 10px;
    font-size: 14px;
}
.sk_cd_main {
    float: left;
    margin-left: 6px;
    margin-right: 8px;
}
.sk .cd_item {
    float: left;
    width: 35px;
    height: 37px;
    background-color: #440106;
    color: #f90013;
    font-size: 24px;
    font-family: Arial;
    font-weight: 700;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 37px;
    margin-top: 10px;
}
.sk .cd_split {
    float: left;
    margin: 22px 4px 0;
    width: 4px;
    height: 12px;
    font-size: 0;
    line-height: 0;
}
.sk .cd_split_top {
    margin-bottom: 4px;
}
.sk .cd_split_dot {
    display: block;
    width: 4px;
    height: 4px;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #440106;
}
.sk .cd_split_bottom {
    top: 30px;
}
.sk .box_bd {
    padding: 12px 0 13px;
    height: 225px;
    overflow: hidden;
}
.box_bd {
    background-color: #fff;
}
.sk_list_wrapper {
    float: left;
    width: 1000px;
    overflow: hidden;
    position: relative;
}
.sk_special {
    margin: 0 10px 0 0;
    float: right;
}
.sk_special_pic {
    display: block;
    width: 180px;
    height: 225px;
}
img {
    border: 0;
    vertical-align: middle;
}
.sk_item {
    float: left;
    width: 170px;
    height: 225px;
    padding: 0 14px 0 15px;
    border-right: 1px solid #e7e7e7;
}
.sk_item_pic {
    position: relative;
    text-align: center;
}
.sk_item_pic_lk {
    display: block;
    outline: 0;
}
.sk_item_pic_lk:hover .sk_item_img {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.sk_item_pic_lk:hover .sk_item_name {
    color: #c81623;
}
.sk_item_img {
    -webkit-transition: -webkit-transform .4s ease;
    -moz-transition: -moz-transform .4s ease;
    transition: -webkit-transform .4s ease;
    -moz-transition: transform .4s ease,-moz-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease,-webkit-transform .4s ease,-moz-transform .4s ease;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.sk_item_img {
    width: 130px;
    height: 130px;
    margin: 17px 0;
}
.sk_item_name {
    color: #999;
    display: block;
    max-width: 100%;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    height: 32px;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-all;
}
.sk_item_shadow {
    position: absolute;
    left: 0;
    top: 130px;
    text-align: center;
    background-image: url(../img/16.png);
    background-position: 0 0;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 170px;
    height: 20px;
}
.sk_item_price {
    padding: 3px 0;
    height: 25px;
}
.sk_item_price_new {
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
}
.mod_price {
    font-size: 14px;
    color: #f10214;
}
.sk_item_price_new i {
    font-size: 12px;
    font-weight: 300;
}
.mod_price i {
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
}
.sk_item_price_origin {
    color: #999;
    font-size: 12px;
}
.sk_item_price_origin del {
    font-weight: 400;
}
a:hover {
    color: #c81623;
}
.sk_controls_prev {
    left: 7px;
}
.sk_controls_next {
    right: 7px;
}
.sk_controls_item {
    position: absolute;
    display: block;
    z-index: 1;
    top: 50%;
    margin-top: -25px;
    width: 20px;
    height: 50px;
    background: #f1f1f1;
    background: rgba(0,0,0,.1);
    line-height: 50px;
    text-align: center;
}
.sk_item_tag {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-image: url(../img/16.png);
    background-position: -54px -40px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
    z-index: 1;
}
.sk_item_pic {
    position: relative;
    text-align: center;
}
.mod_ver {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    font-size: 0;
}
.sk_item_tag_txt {
    font-size: 12px;
    color: #fff;
    line-height: 14px;
    display: inline-block;
    vertical-align: 2px;
    padding-top: 2px;
}

.jdm-toolbar-wrap{
	position: fixed;
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	z-index: 999;
}
.jdm-toolbar{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 0;
	border-right: 6px solid #7a6e6e;
	z-index: 999;
}
.jdm-toolbar-tabs {
    position: absolute;
    top: 50%;
    left: -29px;
    width: 35px;
    margin-top: -61px;
}
.jdm-toolbar-tab {
    position: relative;
    width: 35px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #7a6e6e;
    border-radius: 3px 0 0 3px;
}
.jdm-toolbar-tab .tab-tip {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 6px;
    height: 6px;
    background-position: -150px -150px;
    z-index: 999;
}
.jdm-toolbar-tab .tab-ico, .jdm-toolbar-tab .tab-tip, .jdm-toolbar-tabs .tabs-tip .ico {
    display: inline-block;
    background-image: url(../img/toolbars.png);
    background-repeat: no-repeat;
}
.jdm-toolbar-tab .tab-tip {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 6px;
    height: 6px;
    background-position: -150px -150px;
    z-index: 999;
}
.jdm-tbar-tab-jdvip .tab-ico {
    background-position: -88px -175px;
}
.jdm-toolbar-tab .tab-ico {
    width: 34px;
    height: 35px;
    margin-left: 1px;
    position: relative;
    z-index: 2;
    background-color: #7a6e6e;
}
.jdm-toolbar-tab .tab-text {
    width: 62px;
    height: 35px;
    line-height: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 微软雅黑;
    position: absolute;
    z-index: 1;
    left: 35px;
    top: 0px;
    background-color: rgb(122, 110, 110);
    border-radius: 3px 0px 0px 3px;
    transition: left 0.3s ease-in-out 0.1s;
}
.jdm-toolbar-tabs .tabs-tip {
    position: absolute;
    top: 0;
    right: 35px;
    height: 35px;
    line-height: 35px;
    white-space: nowrap;
    border-radius: 5px;
    background: #c81623;
    color: #fff;
    padding: 0 10px;
    padding-left: 30px;
}
.hide, .none {
    display: none;
}
.jdm-tbar-tab-cart .tab-ico {
    background-position: -50px 0;
}
.jdm-tbar-tab-follow .tab-ico {
    background-position: -50px -50px;
}
.jdm-tbar-tab-follow .tab-ico {
    background-position: -50px -50px;
}
.jdm-tbar-tab-history .tab-ico {
    background-position: -50px -100px;
}
.jdm-tbar-tab-message .tab-ico {
    background-position: -190px -150px;
}
.jdm-tbar-tab-jimi .tab-ico {
    background-position: -50px -150px;
}
.z-jdm-tbar-tab-hover .tab-text {
    left: -60px;
    background-color: #c81623;
}
.z-jdm-tbar-tab-hover .tab-tip {
    display:none;
}
.z-jdm-tbar-tab-hover .tab-tip {
    display:none;
}
.z-jdm-tbar-tab-hover,.z-jdm-tbar-tab-hover .tab-ico {
    background-color: #c81623;
}
.jdm-toolbar-footer {
    position: absolute;
    bottom: -1px;
    width: 100%;
    left: -29px;
}
.jdm-tbar-tab-top .tab-ico {
    background-position: -50px -250px;
}
.jdm-toolbar-footer .jdm-toolbar-tab .tab-text {
    width: 50px;
}
.jdm-tbar-tab-feedback .tab-ico {
    background-position: -50px -300px;
}
.jdm-toolbar-footer .z-jdm-tbar-tab-hover .tab-text {
    left: -48px;
}
.coupon, .entry_c3 {
    margin-bottom: 30px;
}
.coupon {
    height: 215px;
}
.coupon_inner {
    height: 215px;
    background-color: #fff;
}
.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}
.coupon_hd {
    float: left;
    width: 190px;
    height: 215px;
    background-color: #ea3524;
}
.coupon_entry {
    display: block;
    padding: 25px;
    width: 140px;
    height: 165px;
    color: #fff;
}
.coupon_entry:hover{
    color: #fff;
}
.coupon_entry_tit {
    overflow: hidden;
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 30px;
    /*font-family: fzzhengheis-el-gbregular;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
}
.coupon_entry_gap {
    display: block;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 55px;
    height: 3px;
    background-color: #fff;
}
.coupon_entry_txt {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.coupon_entry_btn {
    display: block;
    position: relative;
    margin-top: 20px;
    padding: 2px 35px 4px 15px;
    height: 20px;
    border: 2px solid #fff;
    line-height: 20px;
    overflow: hidden;
}
.coupon_entry_btn_ico {
    position: absolute;
    right: 15px;
    top: 5px;
    width: 15px;
    height: 16px;
}
.coupon_bd {
    float: right;
}
.coupon_list {
    padding: 10px 0;
}
.coupon_item {
    position: relative;
    float: left;
    width: 199px;
    height: 195px;
    border-right: 1px solid #e7e7e7;
    overflow: hidden;
}
.coupon_item_lk {
    display: block;
    width: 100%;
    height: 100%;
}
.coupon_info {
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 15px;
    width: 100px;
    border-top: 3px solid #e93524;
    background-color: #fff;
}
.coupon_price {
    overflow: hidden;
    margin-top: 7px;
    height: 36px;
    line-height: 36px;
    font-size: 34px;
    font-weight: 700;
}
.coupon_desc {
    overflow: hidden;
    margin: 3px;
    height: 36px;
    line-height: 18px;
    color: #e93524;
}
.mod_ver {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    font-size: 0;
}
.coupon_desc_txt {
    display: inline-block;
    vertical-align: middle;
}
.coupon_limit {
    overflow: hidden;
    padding: 15px 10px;
    width: 80px;
    height: 36px;
    color: #666;
    background-color: #e7e7e7;
}
.coupon_limit_txt {
    display: inline-block;
    vertical-align: middle;
}
.coupon_more {
    overflow: hidden;
    width: 100%;
    height: 26px;
    background: #e93524;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: #fff;
}
.coupon_img {
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 25px;
    width: 140px;
    height: 140px;
}
.coupon_item:hover .coupon_img {
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}
.coupon_img {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -moz-transition: transform .5s,-moz-transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
}
.fbt {
    height: 444px;
}
.fbt, .sk {
    margin-bottom: 30px;
}
.fbt_col1 {
    margin-right: 10px;
}
.fbt_col1, .fbt_col2, .fbt_col3 {
    width: 390px;
    height: 444px;
    float: left;
    overflow: hidden;
}
.find .box_hd {
    background: #4998a1;
    background-image: linear-gradient(90deg,#4998a1,#2e828b);
}
.box_hd {
    position: relative;
    padding: 0 20px 0 30px;
    height: 55px;
    line-height: 55px;
    color: #fff;
}
.box_hd_arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 19px solid #f6f6f6;
    border-right: 19px solid transparent;
}
.find .box_hd_dec {
    background-image: url(../img/16.png);
    background-position: -190px -96px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
}
.box_hd_dec {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 28px;
    height: 28px;
}
.find .box_bd {
    padding: 10px;
    height: 369px;
}
.box_bd {
    background-color: #fff;
}
.find_list {
    width: 370px;
    height: 363px;
    overflow: hidden;
}
.find_item {
    float: left;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.find_item_2, .find_item_4, .find_item_6 {
    border-right: 0;
    margin-right: -1px;
}
.find_item_5, .find_item_6 {
    border-bottom: 0;
}
.find_item_lk {
    display: block;
    width: 185px;
    height: 120px;
    position: relative;
}
.find_item_name {
    font-size: 14px;
    color: #4998a1;
    position: absolute;
    top: 15px;
    left: 20px;
    width: 80px;
    line-height: 20px;
    z-index: 1;
    word-wrap: break-word;
}
.find_item_img {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 80px;
    height: 80px;
    -webkit-transition: -webkit-transform .4s ease-out;
    -moz-transition: -moz-transform .4s ease-out;
    transition: -webkit-transform .4s ease-out;
    -moz-transition: transform .4s ease-out,-moz-transform .4s ease-out;
    transition: transform .4s ease-out;
    transition: transform .4s ease-out,-webkit-transform .4s ease-out,-moz-transform .4s ease-out;
}
.find_item_lk:hover .find_item_img {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
}
.fbt_col2 {
    margin-right: 10px;
}
.brand .box_hd {
    background: #7d2e5c;
    background-image: -webkit-linear-gradient(left,#7d2e5c,#6f184a);
    background-image: -moz-linear-gradient(left,#7d2e5c,#6f184a);
    background-image: linear-gradient(90deg,#7d2e5c,#6f184a);
}
.brand .box_bd {
    padding: 10px;
    height: 369px;
}
.brand .box_hd_dec {
    background-image: url(../img/16.png);
    background-position: 0 -160px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
}
.brand_rec {
    margin-bottom: 12px;
    height: 227px;
    overflow: hidden;
}
.brand_rec_lk_wrapper {
    float: left;
    width: 185px;
}
.brand_rec_lk {
    display: block;
    padding: 15px 22px 10px 23px;
    border-right: 1px solid #e7e7e7;
}
.brand_rec_name {
    font-size: 16px;
    color: #8b3a6d;
    margin-bottom: 5px;
    line-height: 18px;
    height: 18px;
    overflow: hidden;
}
.brand_rec_desc {
    color: #666;
    height: 36px;
    margin-bottom: 8px;
    overflow: hidden;
}
.brand_rec_split {
    width: 19px;
    height: 3px;
    background: #8b3a6d;
    margin-bottom: 12px;
}
.brand_rec_img {
    display: block;
    width: 140px;
    height: 120px;
    -webkit-transition: -webkit-transform .4s ease-out;
    -moz-transition: -moz-transform .4s ease-out;
    transition: -webkit-transform .4s ease-out;
    -moz-transition: transform .4s ease-out,-moz-transform .4s ease-out;
    transition: transform .4s ease-out;
    transition: transform .4s ease-out,-webkit-transform .4s ease-out,-moz-transform .4s ease-out;
}
.brand_rec_lk:hover .brand_rec_img {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
}
.brand_shop_img {
    display: block;
    width: 370px;
    height: 130px;
}
.top .box_hd {
    background: #e77005;
    background-image: -webkit-linear-gradient(left,#e77005,#e45d04);
    background-image: -moz-linear-gradient(left,#e77005,#e45d04);
    background-image: linear-gradient(90deg,#e77005,#e45d04);
}
.top_tab {
    height: 389px;
}
.top .box_hd_dec {
    background-image: url(../img/16.png);
    background-position: -190px 0;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
}
.top_tab_head {
    padding: 6px 0 7px;
    font-size: 0;
    border-bottom: 1px solid #e7e7e7;
    width: 370px;
    height: 18px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.top_tab_head_item_first {
    margin-left: -10px;
}
.top_tab_head_item {
    display: inline-block;
    line-height: 18px;
    font-size: 14px;
    width: 77px;
    border-right: 1px solid #d2d1d1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.top .top_tab_head_item_last {
    border-right: 0;
}
.top_tab_active {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 58px;
    height: 2px;
    background: #f10214;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .3s ease;
    -moz-transition: -moz-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -moz-transition: transform .3s ease,-moz-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease,-moz-transform .3s ease;
}
.top .top_tab_content {
    padding: 10px;
}
.top .top_tab_content_item_on {
    display: block;
}
.top_tab_content_item {
    height: 335px;
    overflow: hidden;
    display: none;
}
.top_list {
    height: 100%;
}
.top_item {
    position: relative;
    float: left;
    width: 123px;
    text-align: center;
}
.top_lk {
    display: block;
    padding: 12px 0;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
}
.top_rank_1 {
    background-image: url(../img/16.png);
    background-position: -104px -40px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
}
.top_rank {
    position: absolute;
    top: 12px;
    left: 11px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    background-image: url(../img/16.png);
    background-position: -100px -100px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
}
.top_pic {
    margin-bottom: 10px;
}
.top_img {
    width: 100px;
    height: 100px;
}
.top_name {
    height: 32px;
    text-align: left;
    padding: 0 11px;
    line-height: 16px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
.chn, .rec {
    margin-bottom: 30px;
}
.rec {
    height: 100px;
    background-color: #e0e0e0;
}
.rec_list {
    overflow: hidden;
    height: 100px;
}
.rec_item {
    overflow: hidden;
    float: left;
    width: 396px;
    height: 100%;
}
.rec_lk {
    display: block;
    height: 100%;
}
.lift {
    display: none;
    position: fixed;
    z-index: 100;
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    background-color: #918888;
}
.lift_item:hover, .lift_item_on {
    position: relative;
    border-bottom: 1px solid #d70b1c;
    margin-bottom: -1px;
    border-color: #d70b1c;
    background-color: #d70b1c;
}
.lift_item_first {
    border-top: none;
}
.lift_item {
    border-top: 1px solid #b1aaaa;
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    transition: background-color .1s;
}
.lift_item:hover .lift_btn, .lift_item_on .lift_btn {
    color: #fff;
}
.lift_btn {
    overflow: hidden;
    display: block;
    width: 24px;
    padding: 10px 5px;
    line-height: 14px;
    text-align: center;
    color: #fefefe;
    -webkit-transition: color .1s;
    -moz-transition: color .1s;
    transition: color .1s;
}
.lift_item_top, .lift_item_top:hover {
    border-top: 1px solid #f6f6f6;
    background-color: #5e4a4a;
    border-bottom: 0;
    margin-bottom: 0;
}
.lift_item_top .lift_btn {
    color: #fff;
}
.lift_btn_arrow {
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-width: 4px;
    border-color: #5e4a4a #5e4a4a #fff;
}
.entry_c3 {
    height: 405px;
}
.ftit_inner {
    overflow: hidden;
    padding: 0 0 20px;
    height: 35px;
    background: url(../img/dian.png) repeat-x 0 18px;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}
.ftit_inner h3 {
    display: inline;
    padding: 0 50px;
    background-color: #f6f6f6;
    font-weight: 400;
    font-size: 26px;
    color: #333;
    font-family: fzzhengheis-el-gbregular;
}
.entry_inner {
    overflow: hidden;
}
.entry_c3 .entry_list {
    height: 350px;
}
.entry_list {
    overflow: hidden;
    margin-left: -10px;
    width: 1200px;
}
.entry_c3 .entry_item {
    width: 390px;
    height: 170px;
}
.entry_item {
    overflow: hidden;
    position: relative;
    float: left;
    margin: 0 0 10px 10px;
    background-color: #fff;
}
.entry_lk {
    display: block;
    width: 100%;
    height: 100%;
}
.entry_1 .entry_item_1 .entry_bg {
    background: #d58717;
}
.entry_bg {
    position: absolute;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    z-index: 1;
}
.entry_c3 .entry_bg {
    width: 36%;
}
.entry_bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: #fff;
    opacity: .9;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.entry_c3 .entry_info {
    padding-top: 45px;
    width: 100px;
    font-size: 14px;
}
.entry_info {
    margin: 0 auto;
}
.entry_info_tit {
    overflow: hidden;
    height: 40px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    font-family: fzzhengheis-el-gbregular;
    font-weight: 400;
}
.entry_info_desc {
    overflow: hidden;
    margin-top: 8px;
    height: 32px;
    line-height: 16px;
}
.entry_lk:hover .entry_img {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
}
.entry_n7 .entry_lk:hover .entry_img {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(0);
}
.entry_img {
    -webkit-transition: -webkit-transform .3s ease-in;
    -moz-transition: -moz-transform .3s ease-in;
    transition: -webkit-transform .3s ease-in;
    -moz-transition: transform .3s ease-in,-moz-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in,-webkit-transform .3s ease-in,-moz-transform .3s ease-in;
}
.entry_c3 .entry_img {
    display: block;
    width: 400px;
    height: 170px;
}
.pt_logo_pre {
    left: -6px;
}
.pt_logo_next {
    right: -6px;
}
.pt_logo_btn_wrapper {
    display: none;
}
.pt_logo:hover.pt_logo .pt_logo_btn_wrapper {
	 display: block;
}
.pt_logo_btn {
    position: absolute;
    top: 0;
    height: 35px;
    line-height: 35px;
    color: #736b6f;
    font-weight: 700;
    background: #fff;
    z-index: 1;
}
.chn {
    height: 523px;
}
.chn_t {
    height: 578px;
}
.chn, .rec {
    margin-bottom: 30px;
}
.chn_col {
    float: left;
    width: 590px;
    margin-right: 10px;
    overflow: hidden;
}
.chn_col2 {
    margin-right: 0;
}
.pt_cloth .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#974676,#9e4075);
    background-image: -webkit-linear-gradient(left,#974676,#9e4075);
    background-image: -moz-linear-gradient(left,#974676,#9e4075);
    background-image: linear-gradient(90deg,#974676,#9e4075);
}
.pt_cloth .pt_hd {
    background-color: #974676;
}
.pt_hd {
    height: 26px;
    padding: 16px 20px 16px 25px;
    overflow: hidden;
    background-color: #999;
}
.pt_tit {
    float: left;
    font-size: 22px;
    color: #fff;
    height: 26px;
    line-height: 30px;
    font-weight: 400;
    max-width: 100px;
    font-family: fzzhengheis-el-gbregular;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pt_tags {
    float: right;
    max-width: 440px;
    overflow: hidden;
    height: 28px;
    text-align: right;
}
.o2_webkit .pt_cloth .pt_tags_item {
    background-color: hsla(0,0%,100%,.2);
}
.pt_cloth .pt_tags_item {
    border-color: #c187af;
    background-color: #ac6f93;
    color: #fff;
}
.pt_tags_item:hover {
    color: #fff!important;
    border-color: #fff!important;
}
.pt_bd_wrapper {
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
}
.pt_bd {
    position: relative;
    overflow: hidden;
}
.chn_c1 .chn_col {
    float: none;
    width: 1190px;
    background-color: #fff;
    overflow: hidden;
}
.chn_c1 .pt_bd {
    float: left;
    width: 570px;
}
.chn_c1 .pt_bd_col2 {
    border-left: 1px solid #e6e6e6;
    margin-left: 15px;
    width: 569px;
    padding-left: 15px;
}
.pt_bd_inner {
    width: 200%;
}
.pt_cover {
    float: left;
    width: 183px;
    height: 260px;
    overflow: hidden;
    margin-right: 10px;
    background-color: #f7f7f7;
}
.pt_cover_lk:hover .pt_cover_img {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
}
.pt_cover_img {
    -webkit-transition: -webkit-transform .2s;
    -moz-transition: -moz-transform .2s;
    transition: -webkit-transform .2s;
    -moz-transition: transform .2s,-moz-transform .2s;
    transition: transform .2s;
    transition: transform .2s,-webkit-transform .2s,-moz-transform .2s;
}
.pt_cover_img {
    display: block;
    width: 193px;
    height: 260px;
}
.pt_bi {
    float: left;
    width: 376px;
    height: 260px;
    position: relative;
    overflow: hidden;
}
.pt_bi_split_h {
    top: 130px;
    left: 0;
    width: 500px;
    height: 1px;
    background-color: #e6e6e6;
}
.pt_bi_split {
    position: absolute;
    display: block;
}
.pt_bi_split_v {
    top: 0;
    left: 188px;
    width: 1px;
    height: 500px;
    background-color: #e6e6e6;
}
.pt_bi_item {
    position: relative;
    float: left;
    width: 188px;
    height: 130px;
}
.pt_cloth .pt_bi_tit {
    color: #974676;
}
.pt_bi_tit {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 14px;
    color: red;
    max-width: 130px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
}
.pt_bi_promo {
    position: absolute;
    top: 50px;
    left: 25px;
    font-size: 12px;
    color: #666;
    max-width: 50px;
    z-index: 1;
}
.pt_bi_item:hover .pt_bi_img {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
}
.pt_bi_img {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: -webkit-transform .5s;
    -moz-transition: transform .5s,-moz-transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
}
.pt_bi_img {
    position: absolute;
    bottom: 10px;
    right: 5px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #f7f7f7;
}
.pt_more {
    clear: both;
    height: 130px;
    overflow: hidden;
    padding-top: 10px;
}
.pt_more_item {
    float: left;
    width: 183px;
    height: 130px;
    overflow: hidden;
    margin-right: 10px;
    background-color: #f7f7f7;
}
.pt_more_item:hover .pt_more_img {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
}
.pt_more_img {
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: -webkit-transform .4s;
    -moz-transition: transform .4s,-moz-transform .4s;
    transition: transform .4s;
    transition: transform .4s,-webkit-transform .4s,-moz-transform .4s;
}
.pt_more_img {
    display: block;
    overflow: hidden;
    width: 193px;
    height: 130px;
}
.pt_bd_hide {
    position: absolute;
    right: -10px;
    background-color: #fff;
    width: 10px;
    height: 1000px;
    top: 0;
}
.pt_ft {
    padding: 10px 0 0;
    clear: both;
    background-color: #fff;
}
.chn_c2 .pt_logo {
    padding-left: 1px;
}
.chn_c3 .chn_col2 {
    margin-right: 10px;
}
.chn_c3 .chn_col {
    width: 390px;
}
.chn_c3 .pt_tags {
    max-width: 240px;
}
.chn_c3 .chn_col3 {
    margin-right: 0;
}
.pt_logo {
    position: relative;
    padding: 0;
}
.pt_logo_list_wrapper {
    width: 100%;
    height: 35px;
    overflow: hidden;
}
.pt_logo_list {
    width: 200%;
    -webkit-transition: -webkit-transform .6s cubic-bezier(0,1.35,.83,.98);
    -moz-transition: -moz-transform .6s cubic-bezier(0,1.35,.83,.98);
    transition: -webkit-transform .6s cubic-bezier(0,1.35,.83,.98);
    -moz-transition: transform .6s cubic-bezier(0,1.35,.83,.98),-moz-transform .6s cubic-bezier(0,1.35,.83,.98);
    transition: transform .6s cubic-bezier(0,1.35,.83,.98);
    transition: transform .6s cubic-bezier(0,1.35,.83,.98),-webkit-transform .6s cubic-bezier(0,1.35,.83,.98),-moz-transform .6s cubic-bezier(0,1.35,.83,.98);
}
.pt_logo_item {
    float: left;
    border-right: 1px solid #dedfe0;
    padding: 0 12px;
    height: 20px;
    margin-top: 7px;
}
.pt_logo_img {
    display: block;
    width: 70px;
    height: 35px;
    margin-top: -7px;
}
.pt_logo_lk:hover .pt_logo_img {
    opacity: .8;
}
.pt_beauty .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#cd375e,#c1314d);
    background-image: -webkit-linear-gradient(left,#cd375e,#c1314d);
    background-image: -moz-linear-gradient(left,#cd375e,#c1314d);
    background-image: linear-gradient(90deg,#cd375e,#c1314d);
}
.pt_beauty .pt_hd {
    background-color: #cd375e;
}
.pt_electronic .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#78538e,#674083);
    background-image: -webkit-linear-gradient(left,#78538e,#674083);
    background-image: -moz-linear-gradient(left,#78538e,#674083);
    background-image: linear-gradient(90deg,#78538e,#674083);
}
.pt_phone .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#5e6c90,#4c5e8c);
    background-image: -webkit-linear-gradient(left,#5e6c90,#4c5e8c);
    background-image: -moz-linear-gradient(left,#5e6c90,#4c5e8c);
    background-image: linear-gradient(90deg,#5e6c90,#4c5e8c);
}
.pt_computer .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#488bad,#337e8d);
    background-image: -webkit-linear-gradient(left,#488bad,#337e8d);
    background-image: -moz-linear-gradient(left,#488bad,#337e8d);
    background-image: linear-gradient(90deg,#488bad,#337e8d);
}
.pt_3c .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#3aaba9,#299b9a);
    background-image: -webkit-linear-gradient(left,#3aaba9,#299b9a);
    background-image: -moz-linear-gradient(left,#3aaba9,#299b9a);
    background-image: linear-gradient(90deg,#3aaba9,#299b9a);
}
.pt_sport .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#568e7d,#447e6c);
    background-image: -webkit-linear-gradient(left,#568e7d,#447e6c);
    background-image: -moz-linear-gradient(left,#568e7d,#447e6c);
    background-image: linear-gradient(90deg,#568e7d,#447e6c);
}
.pt_eat .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#eeb924,#e49433);
    background-image: -webkit-linear-gradient(left,#eeb924,#e49433);
    background-image: -moz-linear-gradient(left,#eeb924,#e49433);
    background-image: linear-gradient(90deg,#eeb924,#e49433);
}
.pt_baby .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#e16c46,#e85629);
    background-image: -webkit-linear-gradient(left,#e16c46,#e85629);
    background-image: -moz-linear-gradient(left,#e16c46,#e85629);
    background-image: linear-gradient(90deg,#e16c46,#e85629);
}
.o2_webkit .pt_beauty .pt_tags_item {
    background-color: hsla(0,0%,100%,.2);
}
.pt_family .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#a56741,#925937);
    background-image: -webkit-linear-gradient(left,#a56741,#925937);
    background-image: -moz-linear-gradient(left,#a56741,#925937);
    background-image: linear-gradient(90deg,#a56741,#925937);
}
.pt_reading .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#756059,#684c44);
    background-image: -webkit-linear-gradient(left,#756059,#684c44);
    background-image: -moz-linear-gradient(left,#756059,#684c44);
    background-image: linear-gradient(90deg,#756059,#684c44);
}
.pt_car .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#865454,#7e3b3c);
    background-image: -webkit-linear-gradient(left,#865454,#7e3b3c);
    background-image: -moz-linear-gradient(left,#865454,#7e3b3c);
    background-image: linear-gradient(90deg,#865454,#7e3b3c);
}
.pt_game .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#6467a0,#544b8f);
    background-image: -webkit-linear-gradient(left,#6467a0,#544b8f);
    background-image: -moz-linear-gradient(left,#6467a0,#544b8f);
    background-image: linear-gradient(90deg,#6467a0,#544b8f);
}
.pt_game .pt_hd {
    background-color: #6467a0;
}
.pt_travel .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#5981a3,#41698b);
    background-image: -webkit-linear-gradient(left,#5981a3,#41698b);
    background-image: -moz-linear-gradient(left,#5981a3,#41698b);
    background-image: linear-gradient(90deg,#5981a3,#41698b);
}
.pt_finance .pt_hd {
    background-image: -webkit-linear-gradient(90deg,#5a7259,#425f41);
    background-image: -webkit-linear-gradient(left,#5a7259,#425f41);
    background-image: -moz-linear-gradient(left,#5a7259,#425f41);
    background-image: linear-gradient(90deg,#5a7259,#425f41);
}
.pt_beauty .pt_tags_item {
    border-color: #de7b95;
    background-color: #d36581;
    color: #fff;
}
.pt_tags_item {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mod_footer {
    height: 500px;
    background-color: #eaeaea;
}
.mod_service {
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
}
.mod_service_list {
    overflow: hidden;
    height: 42px;
}
.mod_service_item {
    float: left;
    width: 297px;
}
.mod_service_unit {
    position: relative;
    margin: 0 auto;
    padding-left: 45px;
    width: 180px;
}
.mod_service_duo {
    background-position: 0 0;
}
.mod_service_tit {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
    background-image: url(../img/ico_service.png);
    text-indent: -999px;
}
.mod_service_txt {
    overflow: hidden;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}
.mod_help {
    padding: 20px 0;
}
.mod_help_list {
    overflow: hidden;
    height: 160px;
}
.mod_help_nav {
    float: left;
    width: 198px;
    line-height: 22px;
}
.mod_help_nav_tit {
    margin-bottom: 5px;
    font-size: 14px;
}
.mod_help_cover {
    float: right;
    width: 200px;
    height: 150px;
    background: url(../img/ico_footer.png) no-repeat 0 0;
}
.mod_help_cover_tit {
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
}
.mod_help_cover_con {
    padding: 0 10px;
}
.mod_help_cover_more {
    text-align: right;
}
.mod_copyright_inner {
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    text-align: center;
}
.mod_copyright_split {
    margin: 0 10px;
    color: #ccc;
}
.mod_copyright_info {
    padding: 10px 0;
    line-height: 22px;
    color: #999;
}
.mod_copyright_info a {
    color: #999;
}
.mod_copyright_split {
    margin: 0 10px;
    color: #ccc;
}
.mod_copyright_auth_ico {
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    background-image: url(../img/ico_footer.png);
    line-height: 1000px;
}
.mod_copyright_auth_ico_1 {
    background-position: 0 -151px;
}
.mod_copyright_auth_ico_2 {
    background-position: -104px -151px;
}
.mod_copyright_auth_ico_3 {
    background-position: 0 -184px;
}
.mod_copyright_auth_ico_4 {
    background-position: -104px -184px;
}
.mod_copyright_auth_ico_5 {
    background-position: 0 -217px;
}
.mod_copyright_auth_ico_6 {
    background-position: -104px -217px;
}
.entry_c5, .entry_c6, .entry_c7 {
    margin-bottom: 30px;
    height: 195px;
}
.entry_2 .entry_item_3 .entry_bg {
    background: #ca3030;
}
.entry_2 .entry_item_5 .entry_bg {
    background: #da5d40;
}
.entry_2 .entry_item_6 .entry_bg {
    background: #4f87b1;
}
.entry_2 .entry_item_7 .entry_bg {
    background: #d5bb09;
}
.entry_c7 .entry_list {
    height: 140px;
    margin-left: -5px;
}
.entry_list {
    overflow: hidden;
    margin-left: -10px;
    width: 1200px;
}
.entry_c7 .entry_item {
    width: 160px;
    height: 140px;
}
.entry_c7 .entry_bg {
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    top: auto;
}
.entry_c7 .entry_info {
    padding-top: 0;
    width: 100%;
    padding: 10px 0 13px;
    text-align: center;
}
.entry_c7 .entry_info_tit {
    height: auto;
    border-top: 0;
    border-bottom: 0;
    line-height: 24px;
}
.entry_c7 .entry_info_desc {
    padding: 0 10px;
    margin-top: 0;
    height: auto;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.entry_c7 .entry_img {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.more {
    margin-bottom: 30px;
    min-height: 300px;
}
.ftit_inner {
    overflow: hidden;
    padding: 0 0 20px;
    height: 35px;
    background: url(../img/dian.png) repeat-x 0 18px;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}
.ftit_inner h3 {
    display: inline;
    padding: 0 50px;
    background-color: #f6f6f6;
    font-weight: 400;
    font-size: 26px;
    color: #333;
    font-family: fzzhengheis-el-gbregular;
}
.more_list {
    margin-left: -10px;
    overflow: hidden;
}
.more_item {
    float: left;
    margin: 0 0 10px 10px;
}
.more_item_lk {
    display: block;
    padding: 4px;
    width: 220px;
    height: 305px;
    border: 1px solid #fff;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}
.more_photo {
    display: inline-block;
    width: auto;
    height: 220px;
    background-color: #f7f7f7;
}
.more_info {
    padding: 10px;
    text-align: left;
}
.more_info_name {
    overflow: hidden;
    margin-bottom: 5px;
    height: 35px;
}
.more_info_price {
    font-size: 12px;
}
.mod_price i {
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
}
.mod_service_kuai {
    background-position: 0 -43px;
}
.mod_service_hao {
    background-position: 0 -86px;
}
.mod_service_sheng {
    background-position: 0 -129px;
}